<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
        <console name="ConsoleAppender" target="SYSTEM_OUT">
            <patternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </console>
        <file name="FileAppender" fileName="application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <patternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </file>
    </appenders>
    <loggers>
        <root level="debug">
            <appenderRef ref="ConsoleAppender" />
            <appenderRef ref="FileAppender"/>
        </root>
    </loggers>
</configuration>
